/*import  work sans light 300 fonts from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.App {
  min-height: 100vh;
  display: flex;
  background-color: rgb(28, 27, 27);
  /* background-image: url('./background.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
